/*!
Theme Name: grm77
Theme URI: https://mortstock.com
Author: Geoff Mortstock
Author URI: https://mortstock.com
Description: ...
Version: 1.0.0
License: GNU General Public License v2
License URI: LICENSE
Text Domain: grm77
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready
*/
/*------------------------------------
 * Base HTML & Body Styling
 *-----------------------------------*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
}

@media (min-width: 980px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 22px;
  }
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  line-height: 1.2;
  font-family: "open-sans", sans-serif;
  font-weight: 500;
  color: #000000;
  background-color: #fff;
}

/*------------------------------------
 * Base Element Styling
 *-----------------------------------*/
img,
svg,
video,
iframe,
object {
  max-width: 100%;
  height: auto;
}

input,
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #000000;
  border: 1px solid #000000;
  background-color: #000000;
  border-radius: 3px;
  padding: 3px;
}

input:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: red;
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
  font-size: 14px;
  line-height: 1.2;
  padding: 10px 15px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
  -webkit-transition: color 0.3s ease-in, background-color 0.3s ease-in;
  -o-transition: color 0.3s ease-in, background-color 0.3s ease-in;
  transition: color 0.3s ease-in, background-color 0.3s ease-in;
}

input[type="button"]:hover, input[type="button"]:focus, input[type="button"]:active,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="reset"]:active,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active {
  background-color: #ffffff;
  color: #00ffff;
}

table {
  width: 100%;
  margin: 0 0 1rem;
}

hr {
  background-color: #000000;
  border: 0;
  height: 1px;
  margin-bottom: 1.5rem;
}

/*------------------------------------
 * Typography
 *-----------------------------------*/
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "open-sans", sans-serif;
  color: #000000;
}

a,
button {
  text-decoration: none;
  color: #000000;
  -webkit-transition: color 0.3s ease-in, background-color 0.3s ease-in;
  -o-transition: color 0.3s ease-in, background-color 0.3s ease-in;
  transition: color 0.3s ease-in, background-color 0.3s ease-in;
  cursor: pointer;
}

a:hover, a:focus, a:active,
button:hover,
button:focus,
button:active {
  color: #00ffff;
  -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out;
  -o-transition: color 0.3s ease-out, background-color 0.3s ease-out;
  transition: color 0.3s ease-out, background-color 0.3s ease-out;
}

p {
  margin-bottom: 1em;
}

dfn, cite, em, i {
  font-style: italic;
}

strong {
  font-weight: 700;
}

address {
  margin: 0 0 1.5em;
}

u {
  text-decoration: underline;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 12.8px;
  font-size: .8em;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

/*------------------------------------
 * Utilities
 *-----------------------------------*/
.clearfix:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: " ";
}

.constrained {
  width: 90%;
  max-width: 1690px;
  margin-left: auto;
  margin-right: auto;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.63636rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
  outline: 0;
}

.is-hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

.is-not-displayed {
  display: none;
}

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*------------------------------------|
|	Site
|------------------------------------*/
.site {
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  z-index: 2;
}

/*------------------------------------
 * Site Header
 *-----------------------------------*/
.site-header__wrap {
  position: relative;
}

.site-header__wrap:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: " ";
}

.site-header {
  color: #000000;
  background-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 18px 0;
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.site-header:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: " ";
}

@media (min-width: 1280px) {
  .site-header {
    padding: 23px 0;
    -webkit-transition-delay: 0s, .6s;
         -o-transition-delay: 0s, .6s;
            transition-delay: 0s, .6s;
    height: 150px;
  }
  .site-header .constrained {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .is-scrolled .site-header {
    height: auto;
  }
}

.is-scrolled .site-header {
  position: fixed;
  background-color: #ffffff;
}

.site-branding {
  display: inline-block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 71px;
  height: 103px;
}

.is-scrolled .site-branding {
  height: auto;
}

@media (max-width: 1280px) {
  .site-branding {
    height: auto;
  }
}

.site-title {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-400%);
      -ms-transform: translateX(-400%);
          transform: translateX(-400%);
  opacity: 0;
}

.custom-logo-link {
  display: block;
}

.custom-logo {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.custom-logo--main {
  display: block;
}

.is-scrolled .custom-logo--main {
  display: none;
}

@media (max-width: 1280px) {
  .custom-logo--main {
    display: none;
  }
}

.custom-logo--scrolled {
  display: none;
}

.is-scrolled .custom-logo--scrolled {
  display: block;
}

@media (max-width: 1280px) {
  .custom-logo--scrolled {
    display: block;
  }
}

.admin-bar .site-header {
  top: 46px;
}

@media (min-width: 783px) {
  .admin-bar .site-header {
    top: 32px;
  }
}

@media (max-width: 600px) {
  #wpadminbar {
    position: fixed;
  }
}

/*------------------------------------
 * Site Navigation
 *-----------------------------------*/
.main-navigation {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

@media (min-width: 1280px) {
  .main-navigation {
    width: calc(100% - 80px);
    text-align: right;
    float: right;
  }
}

@media (max-width: 1280px) {
  .main-navigation {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    top: 0;
    right: -320px;
    bottom: 0;
    left: auto;
    width: 320px;
    background-color: RGBA(#fff, 0.91);
    overflow-y: auto;
  }
  .is-menu-open .main-navigation {
    right: 0;
  }
  .is-animated .main-navigation {
    -webkit-transition: .6s right ease-in;
    -o-transition: .6s right ease-in;
    transition: .6s right ease-in;
  }
  .is-animated.is-menu-open .main-navigation {
    -webkit-transition: .6s right ease-out;
    -o-transition: .6s right ease-out;
    transition: .6s right ease-out;
  }
}

.primary-menu {
  list-style: none;
  padding-top: 97px;
  text-align: left;
}

.primary-menu li {
  display: block;
  position: relative;
}

.primary-menu a {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  font-weight: 300;
  font-family: "open-sans", sans-serif;
  color: #595959;
  text-transform: uppercase;
  padding: 0 20px;
  display: block;
  -webkit-transition: color .4s ease;
  -o-transition: color .4s ease;
  transition: color .4s ease;
}

.primary-menu a:hover {
  color: #212d52;
}

@media (min-width: 1280px) {
  .primary-menu {
    padding-top: 0;
    padding-bottom: 0;
    text-align: right;
  }
  .primary-menu .sub-menu {
    display: none;
  }
  .primary-menu li {
    display: inline-block;
    padding: 0;
    margin: 0;
  }
  .primary-menu a {
    font-size: 14px;
    margin-bottom: 0;
    line-height: 2.02;
    -webkit-transition: padding .4s linear;
    -o-transition: padding .4s linear;
    transition: padding .4s linear;
    letter-spacing: 0.15em;
    font-weight: 500;
    padding: 0;
    position: relative;
  }
  .primary-menu > li > a {
    padding: 37px 20px 37px 0;
  }
  .is-scrolled .primary-menu > li > a {
    padding: 0 20px 0 0;
  }
  .primary-menu > li:last-child > a {
    padding-right: 0;
  }
  .primary-menu a:hover, .primary-menu .current-menu-item a {
    color: #212d52;
  }
}

@media (min-width: 1400px) {
  .primary-menu > li > a {
    padding-right: 40px;
  }
  .is-scrolled .primary-menu > li > a {
    padding: 0 40px 0 0;
  }
  .primary-menu > li:last-child > a {
    padding-right: 0;
  }
}

@media (min-width: 1690px) {
  .primary-menu > li > a {
    padding-right: 94px;
  }
  .is-scrolled .primary-menu > li > a {
    padding: 0 94px 0 0;
  }
  .primary-menu > li:last-child > a {
    padding-right: 0;
  }
}

@media (max-width: 1280px) {
  .primary-menu {
    margin-bottom: 16px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .primary-menu li {
    padding: 12px 0;
  }
}

.menu-toggle {
  width: 35px;
  height: 27px;
  margin-top: 0;
  float: right;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  cursor: pointer;
  border: none;
  position: relative;
  background: none;
  z-index: 999999;
}

.menu-toggle span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.menu-toggle span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
}

.menu-toggle span:nth-child(2) {
  top: 12px;
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
}

.menu-toggle span:nth-child(3) {
  top: 24px;
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
}

.is-menu-open .menu-toggle span:nth-child(1) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 0;
}

.is-menu-open .menu-toggle span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.is-menu-open .menu-toggle span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 25px;
  left: 0px;
}

.menu-toggle:hover span {
  color: #212d52;
}

@media (min-width: 1280px) {
  .menu-toggle {
    display: none;
  }
}

@media (max-width: 1280px) {
  /* Adjust positioning if logged in to wordpress */
}

@media (max-width: 1280px) {
  html.is-menu-open {
    overflow: hidden;
  }
}

/*------------------------------------
 * Site Content
 *-----------------------------------*/
.content-area {
  padding-top: 91px;
}

@media (min-width: 1280px) {
  .content-area {
    padding-top: 150px;
  }
}

.no-sidebar .site-main {
  width: 100%;
}

.has-sidebar .site-main {
  width: auto;
}

.sidebar {
  width: 25%;
}

/*------------------------------------
 * Site Footer
 *-----------------------------------*/
.site-footer, .site-footer a {
  color: #ffffff;
}

.site-footer {
  background-color: #000000;
  padding: 3.45455rem 0 3rem;
}

.footer__cols {
  width: 90%;
  max-width: 1540px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 980px) {
  .footer__cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media (min-width: 980px) {
  .footer__col {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
}

/*------------------------------------
 * WYSIWYG
 *-----------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.gallery-caption {
  display: block;
}

/*------------------------------------
 * Archive
 *-----------------------------------*/
.archive-wrap {
  position: relative;
}

@media (min-width: 783px) {
  .archive-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/*------------------------------------
 * Archive
 *-----------------------------------*/
/*------------------------------------
 * Buttons
 *-----------------------------------*/
.btn, .btn--cta .btn--box {
  cursor: pointer;
}

.btn--cta:hover, .btn--cta:focus {
  color: #fff;
}

.btn--box {
  font-size: 16px;
  line-height: 1.375;
  text-transform: uppercase;
  position: relative;
  padding: 17px 12px 17px 12px;
  background-color: #fff;
  border: 1px solid #000000;
  color: #000000;
  overflow: hidden;
  -webkit-transition: color .4s linear;
  -o-transition: color .4s linear;
  transition: color .4s linear;
}

.btn--box:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: -1px;
  bottom: -1px;
  background: #000000;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
      -ms-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transition: -webkit-transform .4s linear;
  transition: -webkit-transform .4s linear;
  -o-transition: transform .4s linear;
  transition: transform .4s linear;
  transition: transform .4s linear, -webkit-transform .4s linear;
}

.btn--box:hover, .btn--box:focus, .btn--box:active, .is-active .btn--box, .btn--box.is-active {
  color: #fff;
}

.btn--box:hover:before, .btn--box:focus:before, .btn--box:active:before, .is-active .btn--box:before, .btn--box.is-active:before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

/*------------------------------------
 * Banners
 *-----------------------------------*/
.banner {
  position: relative;
  overflow: hidden;
  height: calc(100vh);
  min-height: 500px;
  margin-bottom: 46px;
}

@media (min-width: 980px) {
  .banner {
    margin-bottom: 5rem;
  }
}

@media (min-width: 1280px) {
  .banner {
    height: calc(100vh - 150px);
  }
}

.banner__content {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner.has-video .banner__video {
  max-width: none;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  min-width: 100%;
}

@media (max-width: 980px) {
  .banner.has-video .banner__video {
    height: 100%;
  }
}

/*------------------------------------
 * 404, Not Found
 *-----------------------------------*/
.not-found {
  text-align: center;
}

/*------------------------------------
 * Vendor Overrides
 *-----------------------------------*/
/* Styling to apply to scrollrevealJS elements before event is triggered */
html.sr .animate {
  visibility: hidden;
}
